.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

/* div.app {
  height: 100%;
  background-color: cornsilk;
} */